.container {
    display: grid;
    grid-template-columns: minmax(0,1fr)repeat(6,minmax(0,175px))minmax(0,1);
}
main{
    padding:0px;
}
#title{
    border:solid #71B0B0 2px;

}
td, img{
    width:600px;
}
body {
    gap: 0px;
    background-color: #A3BAC3;
    margin: 0;
    padding: 0;

}

header {
    position: absolute;
    grid-row:auto;
    grid-row:auto;
}

.top-left-logo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 67px;
    height: auto;
}

nav {
    background-color: #011627;
    text-align: center;
    grid-row:1 / span 2;
    
}
.navbar{
    grid-column: 1;
    grid-row :1 / span 6;
}
ul.navbar {
    list-style-type: none;
    padding: 0px 0px 0px 0px ;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 400px;
    grid-row: 1 / span 2;
    grid-column: 1 / span 6;
    list-style-type: none;
    margin: 0px 410px 0px 0px;
}

ul.navbar li a {
    display: block;
    color: #A3BAC3;
    padding: 3px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border: 2px solid #A3BAC3;
    border-radius: 45px;
    background-color: #011627;
    transition: background-color 0.3s, border-color 0.3s;
    grid-column: auto;
    grid-row: auto;
}

.navbar a:hover {
    background-color: #A3BAC3;
    border-color: #011627;
    color:#011627;
}

h1 {
    font-size: 50px;
    color: #EAEBED;
    background-color: #011627;
    text-align: center;
    margin:5px 20px 15px;
    border-radius: 45px;
}
h3 {
    font-size: 35px;
    color: #EAEBED;
    background-color: #011627;
    text-align: center;
    margin:5px 20px 15px;
}
hr {
    border: none;
    border-top: 3px solid #011627;
    margin: 0px 0px;
    background-color: #333;
}

table {
    width: 1500px;
    border-collapse: separate;
    padding:10px;
    margin: 10px 200px 10px;
    color: #EAEBED;
    align-items: center;
    background-color: #011627;
    border-radius: 40 px;
    border-radius: 45px;

}

th, td {
    padding:0px 0px;
    text-align: center;
    border: 1px solid #71B0B0;
    border-radius: 45px;
    width:750px;
    height: 400px;
}

.grade-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}
h3.cost {
    font-size: 40px;
    color: orange;
    text-align: center;
}

.wolf {
    font-size: 30px;
    text-align: center;
    color: #fff4de;
}

.png {
    width: 650px;
}

.mash {
    font-size: 30px;
    text-align: right;
    color: #fff4de;
}

.table2 {
    width: 100%;
    border-collapse: collapse;
    margin: 100px auto;
    font-size: 30px;
    color: #fff4de;
}
/* this stuff is all for page fomat*/
tr, th {
    padding: 10px;
    text-align: center;
    border: none;
}
footer{
    background-color:#011627;
}
h6{
    color:#71B0B0;
}
#border_img {
    width:90%;
    justify-content:center;
    margin:0px 60px;
    border:dashed black 20px;
}
iframe{
    margin:10px 60px;
    width:90%;
    height: 100%;

}
#hehehehe{
    
    font-size:50px;
}
h2{
    font-size:30px;
    color:#011627;
}
a{
    color:#011627
}
a:active{
    color:red;
}